@model MVC_Homework1.Models.客戶銀行資訊

@{
    ViewBag.Title = "詳細客戶銀行資訊";
}



<div>
    <hr />
    @Html.DisplayForModel()
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
