
@{
    ViewBag.Title = "Index";
}

<h2>客戶信息</h2>
<div id="root"
>
    @using (Html.BeginForm("Index", "客戶信息", FormMethod.Get,
        new { @class = "form-group form-group-sm" , data_bind= "submit: searchClick" }))
    {
        @Html.Label("客戶名稱")
        @Html.TextBox("Keyword", null, new { @class = "form-control", placeholder = "請輸入客戶名稱", data_bind="value: keyword" })
        <br />
        <input type="submit" class="btn btn-primary" title="搜尋" value="搜尋" />
    }
    
    <table class="table">
        <tr>
            <th>
                <a href="#" data-bind="click: function() { sortClick('Id'); }">
                    Id <span data-bind="css: buildSortClass('Id')"></span>
                </a>
            </th>
            <th>
                <a href="#" data-bind="click: function() { sortClick('客戶名稱'); }">
                    客戶名稱 <span data-bind="css: buildSortClass('客戶名稱')"></span>
                </a>
            </th>
            <th>
                <a href="#" data-bind="click: function() { sortClick('銀行數量'); }">
                    銀行數量 <span data-bind="css: buildSortClass('銀行數量')"></span>
                </a>
            </th>
            <th>
                <a href="#" data-bind="click: function() { sortClick('聯絡人數量'); }">
                    聯絡人數量 <span data-bind="css: buildSortClass('聯絡人數量')"></span>
                </a>
            </th>
        </tr>
        <!-- ko foreach: customers-->
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: 客戶名稱"></td>
            <td data-bind="text: 銀行數量"></td>
            <td data-bind="text: 聯絡人數量"></td>
        </tr>
        <!-- /ko-->
    </table>

    <ul class="pagination">
        <li data-bind="css: { disabled: currentPage() <= 1 }">
            <a href="#"  data-bind="click: function() { pageClick(currentPage() - 1); }">&laquo;</a>
        </li>
        <!-- ko foreach: pages-->
        <li data-bind="css: { active: $data == $parent.currentPage() }">
            <a href="#" data-bind="text: $data, click: $parent.pageClick"></a>
        </li>
        <!-- /ko-->
        <li data-bind="css: { disabled: currentPage() >= pageCount() }">
            <a href="#" data-bind="click: function() { pageClick(currentPage() + 1); }">&raquo;</a>
        </li>
    </ul>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            var viewModel = new CustomerInfomationViewModel("@Url.Action("Data")");

            ko.applyBindings(viewModel, document.getElementById("root"));
        });
    </script>
}
